body{        
    background-image: url(../images/FondoContacto.jpg);
	background-position: center center;
	background-size: cover; /* se cambia de tamaño segun el espacio que tenga*/
   
 }

 .EstiloLabel{
color: white;
text-anchor: middle;
 }
 
 .EstiloItemNavbar{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
 .BotonesFlotantes {
	z-index: 1;
	  padding: 0px;
	  position: absolute;
	  left: 0px;
	  top: 30%;
	  display: flex;
	  flex-direction: column; 
	  width: auto; 
	  
  }
  
  .ColorBotFlotante{
	color: white;
	background-color: #444cd1;
	border-color: transparent;
	margin-top: 0px;
	margin-bottom: 5px;
	width: 50px;
	height: 50px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

  .ColorBotFlotante:hover{
  transition: 0.5s;
  width: 4rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.EstiloRedesSociales{
	color: white;
	margin: auto auto auto auto;
}

.float{
	position: absolute;
	width:60px;
	height:60px;
	bottom:100px;
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.EstiloMaps{
	display: flex;
	bottom: 0%;
	margin-top: 1%;
}
.EstiloButton{
	width: 100%;
	height: auto;
}
.PositionForm{
	display: flex;
	align-items: flex-start;
	margin-left: 10px;
	margin-top: 10%;

}

fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 10px groove (internal value);
	background:black ;
	border: 5px solid gray;
  }
  legend {
	background-color: gray;
	color: white;
	padding: 5px 10px;
  }