body{        
    background-image: url(../images/FondoContacto.jpg);
    background-size: cover; /* se cambia de tamaño segun el espacio que tenga*/
   
 }

 .EstiloLabel{
color: white;
text-anchor: middle;
 }

 .BotonesFlotantes {
	z-index: 1;
	  padding: 0px;
	  position: absolute;
	  left: 0px;
	  top: 250px;
	  display: flex;
	  flex-direction: column;  
	  
  }
  
  .ColorBotFlotante{
	color: white;
	background-color: #444cd1;
	border-color: transparent;
	margin-top: 0px;
	margin-bottom: 5px;
	width: 50px;
	height: 50px;
	transition: 1s;
   
  }

button:hover{
  transition: 1s;
  width: 4rem;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.EstilobotonEnviar{
    font-size:30px;
    box-shadow: 2px 2px 3px black;
    position: absolute;
    left: 15px;
    top: 530px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

