body{
    background: #E5E1DD;
    /*background-image: url("../images/FondoIndex.jpg");*/
    background-position: center center;
    background-size: cover;/* ajusta la imagen a la pantalla automaticamente*/
}

.EspacioEntreCards{
    
    position: absolute;
    left: 300px;
    top: 600px;
}
.EstiloCards{
    min-height: 400px;
    width: 18rem;
    margin-bottom:10px ;
}

.ColorFonts{
    color: #998561;
}
.BotonesFlotantes {
    z-index: 1;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 250px;

}