body{        
    background-image: url(../images/ServTec/Foto1.jpg);
    background-size: cover; /* se cambia de tamaño segun el espacio que tenga*/
   
 }

 
 .BotonesFlotantes {
	z-index: 1;
	  padding: 0px;
	  position: absolute;
	  left: 0px;
	  top: 250px;
	  display: flex;
	  flex-direction: column;
	  width: auto;
	  
  }
  
  .ColorBotFlotante{
	color: white;
	background-color: #444cd1;
	border-color: transparent;
	margin-top: 0px;
	margin-bottom: 5px;
	width: 50px;
	height: 50px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
	  
  .ColorBotFlotante:hover{
		transition: 0.5s;
		width: 4rem;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:100px;
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

