body{
    background: #E5E1DD;
    /*background-image: url("../images/FondoIndex.jpg");*/
    background-position: center center;
    background-size: cover;/* ajusta la imagen a la pantalla automaticamente*/
}

.FontNavInterna{
    font-family: ;
}

.EspacioEntreCards{
    
    position: absolute;
    left: 300px;
    top: 600px;
}
.EstiloCards{
    min-height: 400px;
    width: 18rem;
    margin-bottom:10px ;
}